<% provide(:title, 'About') %>
<h1>Quick Reads About Page</h1>
<p>This site was designed to get people reading again!</p>
<p>
  There are so many great stories out there, and the best way
  to know what you like is to read as much as possible. Short
  stories present a low bar to admission! Flip through stories
  until you find what you like!
</p>

<h2>
  Founder: David M O'Mullan
</h2>
<p>
  Learn more about me 
  <a href="https://www.davidomullan.com">here</a>.
</p>