/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* RESET DEFAULTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  z-index: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: gray;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* HEADER STYLES */
header {
  background-color: #066781 /*Blue*/;
  display: flex;
  flex-flow: row wrap;
  height: 20vh;
  flex: 0 0 100%;
}

header .logo {
  flex-grow: 1;
  height: 100%;
}

header .logo img {
  height: 100%;
}

header .title {
  flex-grow: 2;
  height: 100%;
}

header .title h1 {
  color: white;
  font-size: 5em;
}

header nav {
  /*align-items: center;*/
  /*border: 1px solid red;*/
  /*justify-content: center;*/
  /*width: 60vw;*/
}

header nav ul {
  /*border: 1px solid black;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*list-style-type: none;*/
}

/* MAIN CONTENT STYLES */
.content {
  background-color: #84a4c4 /*Lightblue*/;
  flex: 0 0 100%;
  height: 50vh;
}

/* FOOTER STYLES */
footer {
  background-color: #C4A484 /*Lightbrown*/;
  height: 33vh;
  flex: 0 0 100%;
}

footer nav ul {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}